@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideIn {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#contact {
    @include flex();
    backdrop-filter: blur(2px);
    animation: slideIn 0.7s ease-out;

    .form-wrapper {
        @include flex(1rem);
        flex-direction: column;
        width: 50%;
        animation: fadeIn 0.7s ease-out forwards;

        .socials {
            @include flex(1rem);
            width: fit-content;
            backdrop-filter: blur(10px);
            animation: fadeIn 0.7s ease-out forwards;

            a {
                font-size: 1.4rem;
            }
        }

        .text-wrapper {
            @include flex();
            flex-direction: column;

            h1 {
                font-size: 4rem;
                color: $text_color;
            }

            h3 {
                font-size: 2.5rem;
                color: $accent_color;
            }

            
            p {
                color: $text-dark_color;
            }
        }
        
        h4 {
            color: $text-dark_color;
            font-size: 0.875rem;
        }

        form {
            @include flex(1rem);
            flex-direction: column;
            width: 100%;

            input,
            textarea {
                padding: 1rem 0;
                background-color: transparent;
                border: none;
                outline: none;
                color: $text_color;
                border-bottom: 1px solid $white_color;

                &::placeholder {
                    color: darken($text_color, 10%);
                }
            }

            textarea {
                padding-top: 0;

                // Custom scrollbar styles
                &::-webkit-scrollbar {
                    width: 12px; /* Width of the scrollbar */
                }

                &::-webkit-scrollbar-track {
                    background: rgba(lighten($primary_color, 20%), 50%); /* Background of the scrollbar track */
                }

                &::-webkit-scrollbar-thumb {
                    background-color: $accent_color; /* Color of the scrollbar thumb */
                    border-radius: 10px; /* Roundness of the scrollbar thumb */
                    border: 2px solid rgba(lighten($primary_color, 20%), 50%); /* Padding around the scrollbar thumb */
                }

                &::-webkit-scrollbar-thumb:hover {
                    background-color: darken($accent_color, 10%); /* Color of the scrollbar thumb on hover */
                }

                &::-webkit-scrollbar-corner {
                    background: lighten($primary_color, 20%); /* Background of the scrollbar corner */
                }
            }

            input,
            textarea,
            .top-input-wrapper {
                width: 100%;
                resize: none;
            }

            .top-input-wrapper {
                @include flex(1.5rem);
            }

            button {
                align-self: flex-end;
                padding: 1rem 2rem;
                background: none;
                border: 2px solid $white_color;
                border-radius: 50px;
                color: $text_color;
                font-weight: 600;
                cursor: pointer;

                &:hover {
                    background-color: $white_color;
                    color: $accent-text_color;
                }
            }
        }
    }
}