.project-container {
    margin: $header_margin * 4 + $header_height auto $header_margin auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 2rem;
    padding: 0 $header_padding;
    perspective: 1000px;

    .project {
        background-color: $box_color;
        border-radius: 15px;
        border: 1.5px solid lighten($primary_color, 20%);
        height: 300px;
        transition: transform 0.5s ease;
        transform-style: preserve-3d;
        overflow: hidden;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            filter: brightness(0.9);
            z-index: -1;
            top: 0;
            left: 0;
            transition: transform 0.3s;
            transition: filter 0.3s;
            border-radius: 15px;
        }

        .content {
            position: absolute;
            top: 100%;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            transition: top 0.3s;
            padding: 1rem 1.2rem;
            height: 100%;

            a {
                background-color: $primary_color;
                margin-top: 0.8rem;
                width: fit-content;
                padding: 0.5rem 1rem;
                background-color: $accent_color;
                color: $accent-text_color;
                text-decoration: none;
                border-radius: 5px;
                transition: background-color 0.3s ease;
        
                &:hover {
                    background-color: darken($accent_color, 10%);
                }
            }

            h3 {
                font-size: 1.5rem;
                margin-bottom: 0.5rem;
            }
        }

        &:hover {
            transform: translateZ(-15px);

            .content {
                top: 0;
                transition: top 0.3s;
            }

            img {
                filter: brightness(0.5) blur(1px);
            }
        }
    }
}

.filter-projects {
    position: absolute;
    left: $header_padding;
    top: $header_margin + $header_height;
    margin: $header_margin 0;
    width: $header_margin;
    height: $header_margin;
    background-color: $white_color;
    @include flex();
    border-radius: 50px;
    cursor: pointer;
    z-index: 10;

    i {
        @include flex();
        width: 1rem;
        height: 1rem;
        font-size: 1rem;
        color: $primary_color;
    }

    .dropdown {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        width: 150px;
        background-color: $white_color;
        border: 1px solid $primary_color;
        border-radius: 5px;
        border-top-left-radius: 0;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

        .sort-options {
            border-bottom: 1px solid lighten($primary_color, 60%);
        }
        
        .filter-options, .sort-options {
            margin-top: 10px;
            color: $text-dark_color;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 10px;

            label {
                display: block;
                margin-bottom: 0.5rem;
                width: 100%;
                padding: 5px 0;
                margin-left: -10px;
            }

            input {
                accent-color: $accent_color;
                margin: 0 10px 0 15px;
            }
        }
    }

    .filter-count {
        position: absolute;
        top: -5px;
        right: -5px;
        background-color: $accent_color;
        color: $white_color;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
    }
}