*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    font-family: 'PT sans', sans-serif;
    min-height: 100vh;
    user-select: none;
    overflow-x: hidden;
    background-color: $primary_color;
    color: $text_color;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.section {
    display: none;
    min-height: 100dvh;
    width: 100%;
    position: absolute;
    top: 0;
}

.section.active {
    display: block;
}

::selection {
    background: $select_color;
    color: $accent-text_color;
}

#blur-circle {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    filter: blur(20px);
    pointer-events: none;
    z-index: -1;
    transition: left 0.1s ease, top 0.1s ease;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100%;
    z-index: -1; /* Ensure the canvas is behind other content */
    background-color: #0d0d0d; /* Set the background color to $primary_color */
}