*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
    z-index: 1;
}

body {
    font-family: 'PT sans', sans-serif;
    min-height: 100vh;
    user-select: none;
    overflow-x: hidden;
    background-color: $primary_color;
    color: $text_color;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

.section {
    display: none;
    min-height: 100dvh;
    width: 100%;
    position: absolute;
    top: 0;
    padding: $header_height + $header_margin * 2 $header_padding $header_height $header_padding;
}

.section.active {
    display: block;
}

::selection {
    background: $select_color;
    color: $accent-text_color;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    height: 100dvh;
    width: 100%;
    z-index: -1; /* Ensure the canvas is behind other content */
    background-color: #0d0d0d; /* Set the background color to $primary_color */
}