*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    font-family: 'PT sans', sans-serif;
    min-height: 100vh;
    user-select: none;
    background-color: $primary_color;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}