$primary_color: #0d0d0d;
$box_color: #191919;
$text_color: #e8e8e0;
$text-dark_color: #7a7a7a;
$accent_color: #238dff;
$accent-text_color: #0d0d0d;

$select_color: #e6e6e6;

$white_color: #fff;
$black_color: #000;
$dark-gray: #333;

//global variables
$header_margin: 48px;
$header_height: 60px;
$header_padding: 7rem;